.header {
  /* background: #e2e2e2; */
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logo {
  font-size: 20px;

  /* text-align: center; */
}
.profile {
  width: 50px;
  border-radius: 50%;
}
